html {
    background-color: darkslategrey;
    color: white;
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
}
.section-divisor{
    border-bottom: 2px solid cadetblue;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 200px;

}
.container-links{
    display: flex;
    justify-content: center;
    align-items: center;
}
.link-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 10px;
    background-color: cadetblue;
    border-radius: 50px;    
    margin: 10px;
    padding: 15px;
}
a {
    text-decoration: none;
    color: white;
}
a.site-link:hover {
    color:bisque;
}
#personal-photo{
    display:flex;
    justify-content: center;
    border-radius: 5000px;
    width: 14rem;
    height: 14rem;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    
}
.link-section{
    display: flex;
    justify-content: center;
    align-items: center;
}
.link-image {
    height: 4rem;
    width: 4rem;
    margin: 10px;
}
.intro{
    display: flex;
    justify-content: center;
    text-align: center;
}